/* about.css */
.aboutpage {
  background-color: #f9f9f9;
}

.hero-section-about {
  position: relative;
  height: 400px;
  background-color: #1e2a3a;
  color: #fff;
  text-align: center;
  padding-top: 120px;
  background-image: url('../assets/sobre\ nos2\ \(1\).jpg'); /* Imagem de fundo */
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay; /* Blending da imagem */
  background-color: rgba(30, 42, 58, 0.7); /* Alterando a cor de fundo para ser mais escura e com transparência */
}

.hero-content-about h1 {
  font-size: 3.5rem;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Aumentando a sombra para melhorar o contraste */
}

.hero-content-about p {
  font-size: 1.3rem;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Aumentando a sombra para melhorar o contraste */
}

.about-section-about {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-radius: 10px;
}

.about-container-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.about-text-about {
  flex: 1;
  margin: 20px 30px 20px 30px;
}

.about-text-about h2 {
  font-size: 2rem;
  color: var(--cor-cinza-escuro); /* Usando cor do CSS global */
  margin-bottom: 10px;
}

.about-text-about p {
  line-height: 1.8;
  color: var(--cor-cinza-claro); /* Cor de texto */
}

/* Ajuste no tamanho das imagens */
.about-container-about img,
.image-slider img {
  width: 100%;
  max-width: 500px; /* Tamanho máximo comum */
  aspect-ratio: 5 / 3;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}


.about-container-about img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* Ajustando o vídeo */
.about-container-about video {
  width: 100%;
  height: 300px;
  max-width: 400px; /* Tamanho máximo do vídeo */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about-container-about video:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.image-slider {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-slider img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-slider img:hover {
  transform: scale(1.05);
}
.video-container {
  overflow: hidden;
  border-radius: 8px; /* opcional, visual mais suave */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* opcional */
}

.video-container video {
  left: 0;
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--cor-verde-medio);
  border: none;
  color: white;
  font-size: 24px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
  transition: background 0.3s ease;
}

.arrow:hover {
  background-color: var(--cor-verde-medio);
}

.arrow.left {
  left: -20px;
}

.arrow.right {
  right: -20px;
}



/* Responsividade */
@media (max-width: 768px) {
  .about-container-about {
    flex-direction: column;
    align-items: center;
  }

  .about-container-about img {
    max-width: 90%;
  }

  .about-container-about video {
    max-width: 100%; /* Ajuste no vídeo para dispositivos menores */
  }

  .about-text-about {
    text-align: center;
  }

  .hero-content-about h1 {
    font-size: 2.5rem;
  }

  .hero-content-about p {
    font-size: 1rem;
  }
   .image-slider {
    margin-left: 0;
  }

  .arrow.left {
    left: 0;
  }

  .arrow.right {
    right: 0;
  }
  .about-container-about.reverse {
    flex-direction: column-reverse;
  }
}
