/* metrology.css */

.metrology-page {
  font-family: var(--fonte-principal);
  background-color: #f9f9f9;
  padding-bottom: 40px;
}

/* Hero Section */
.hero-section-metrology {
  position: relative;
  height: 400px;
  background-color: #1e2a3a;
  color: #fff;
  text-align: center;
  padding-top: 120px;
  background-image: url('../assets/Fundo padrão .PNG');
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(30, 42, 58, 0.7);
  margin-bottom: 40px;
}

.hero-section-metrology .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.hero-content-metrology {
  position: relative;
  z-index: 1;
  color: #fff;
}

.hero-content-metrology h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-content-metrology p {
  font-size: 1.2rem;
  max-width: 900px;
  margin: 0 auto;
}

/* Seções */
.metrology-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px 20px;
}

.metrology-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  min-height: 260px;
}



.metrology-icon {
  flex-shrink: 0;
  background-color: var(--cor-verde-claro);
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.metrology-text {
  flex: 1;
  padding: 10px 0;
}

.metrology-text h2 {
  font-size: 1.8rem;
  color: #4b4b4b;
  margin-bottom: 10px;
}

.metrology-text p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Responsivo */
@media (max-width: 768px) {
  .hero-section-metrology {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    margin-bottom: 10px;
  }

  .hero-content-metrology h1 {
    font-size: 2.2rem;
  }

  .hero-content-metrology p {
    font-size: 1.1rem;
  }

  .metrology-section {
    grid-template-columns: 1fr;
    
  }

  .metrology-container,
  .metrology-container.reverse {
    flex-direction: column;
    text-align: center;
    padding: 15px;
  }

  .metrology-icon {
    margin-bottom: 0px;
  }

  .metrology-text h2 {
    font-size: 1.5rem;
  }

  .metrology-text p {
    font-size: 0.95rem;
  }
  .metrology-page {
    padding-bottom: 10px;
  }
}
