.marca-detalhes {
  padding: 40px;
  margin: 0 auto;
  background-color: #f4f5f1;
  font-family: var(--fonte);
  color: var(--verde-escuro);
}

.marca-detalhes-com-imagem {
  background-image: url('../assets/plano\ \(3\).JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.marca-detalhes h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: var(--verde-escuro);
}

.categoria-titulo {
  font-size: 18px;
  margin-bottom: 30px;
  color: var(--verde-medio);
  font-style: italic;
}

.produtos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}


.produto-nome {
  font-size: 18px;
  font-weight: 700;
  color: var(--verde-escuro);
  margin: 8px 0 4px 0;
  line-height: 1.2;
}



.marcado-verde {
  background-color: #d4f4d1;
  font-weight: 600;
  padding: 2px 6px;
  border-radius: 4px;
}

.produto-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.produto-card.ativo .produto-inner,
.produto-card:hover .produto-inner {
  transform: rotateY(180deg);
}

.produto-front,
.produto-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 15px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.produto-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    border-radius: 10px;
}

.produto-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
    border-radius: 10px;
}

.produto-descricao {
  font-size: 14px;
  font-weight: 400;
  color: #4d504e; /* cor mais escura */
  font-style: italic;
  text-align: center;
  line-height: 1.1;
  white-space: pre-line;
  justify-content: center;
}

.catalogo {
  display: inline-block;
  margin: 1rem 0;
  margin-top: -20px;
  font-size: 0.7rem;
  color: #4d504e;
  text-decoration: none;
  border: 1px solid #a0b773;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: #ffffffcc;
  transition: background 0.2s ease, transform 0.2s ease;
}

.catalogo:hover {
  background-color: #a0b773;
  color: white;
  transform: translateY(-2px);
}

.produto-card {
  perspective: 1000px;
  height: 400px;
  position: relative;

  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  transition: transform 0.3s ease;
}


.produto-card:hover {
  transform: scale(1.05);
}

.produto-imagem {
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 10px;
}

.nenhum-produto {
  font-style: italic;
  color: gray;
}
.ver-detalhes {
  font-size: 12px;
  color: var(--verde-medio);
  font-style: italic;
  margin-top: 8px;
  display: none;
}

@media (max-width: 800px) {
  .ver-detalhes {
    display: block;
  }
}
@media (max-width: 700px) {
  .produtos-container {
    gap: 10px;
  }

  .produto-card {
    box-sizing: border-box;
  }
}


@media (max-width: 600px) {
  .produtos-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .produto-nome {
    font-size: 15px;
    font-weight: 700;
    color: var(--verde-escuro);
    margin: 8px 0 4px 0;
    line-height: 1.2;
  }
    .produto-descricao {
    font-size: 12px;
  }
}

@media (min-width: 1400px) {
  .produtos-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1399px) and (min-width: 1100px) {
  .produtos-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1099px) and (min-width: 800px) {
  .produtos-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 799px) and (min-width: 500px) {
  .produtos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 499px) {
  .produtos-container {
    grid-template-columns: repeat(2, 1fr);
  }
   .produto-nome {
    font-size: 15px;
  }
  .produto-descricao {
  font-size: 12px;
}
}
.descricao-imagem-preview {
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
}

.descricao-imagem-preview:hover {
  transform: scale(1.03);
}

.descricao-imagem {
  max-width: 100%;
  max-height:350px;
  object-fit: contain;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.descricao-hover-text {
  font-size: 0.7rem;
  color: #4D504E;
  margin-top: 5px;
  font-style: italic;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-conteudo {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 120vh;
  max-height: 90vh;
  overflow: auto;
}


.modal-conteudo img {
  max-width: 800px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.fechar-modal {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}
